Text-Markdown-Discount-*

/Build
/MYMETA.json
/MYMETA.yml
/_build/
/blib/
/lib/Text/Markdown/*.c
/lib/Text/Markdown/*.o

/discount-*/*.o
/discount-*/Makefile
/discount-*/blocktags
/discount-*/branch
/discount-*/cols
/discount-*/config.cmd
/discount-*/config.h
/discount-*/config.log
/discount-*/config.mak
/discount-*/config.md
/discount-*/config.sed
/discount-*/config.sub
/discount-*/echo
/discount-*/libmarkdown
/discount-*/libmarkdown.a
/discount-*/librarian.sh
/discount-*/makepage
/discount-*/markdown
/discount-*/mkd2html
/discount-*/mkdio.h
/discount-*/mktags
/discount-*/pandoc_headers
/discount-*/theme
/discount-*/version.c

/discount-*/libmarkdown.pc
/discount-*/ngc*.c
